.bg-whitesmoke{
    background: whitesmoke;
}

.bi-bell-fill:hover, .bi-person-circle:hover{
    color: #0d6efd;
    transition: 0.3s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}